<div medium>
	<unl-toolbar><span id="modal-title" flex class="align-center">Add People to Group</span></unl-toolbar>
	<div class="content-container">
		<form novalidate>
			<tags-input class="unl-tag-input animate-zoom" placeholder="Add a BB username or NUID" ng-model="usersAddList" on-tag-added="splitTags($tag)" ></tags-input>
		</form>
	</div>
	<div class="modal-buttons no-frame">
		<button type="button" ng-click="addUsers()" ng-disabled="usersAddList.length < 1">Add {{usersAddList.length > 1 ? 'People' : 'Person'}}</button>
		<button type="button" class="button-secondary" ng-click="closeModal()">Close</button>
	</div>
</div>