<unl-toolbar tabs>
	<a ng-click="go('/', 'animate-slide-left')" title="Back to Groups"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
	<span flex class="align-center">{{group.title || 'Loading'}}</span>
	<a ng-click="go('/group/{{currentGroupId}}/settings')" title="Settings"><unl-icon-button icon="settings"></unl-icon-button></a>
</unl-toolbar>
<unl-tabs bind-polymer item="{{selectedTab}}">
	<unl-tab>People</unl-tab>
	<unl-tab>Apps</unl-tab>
</unl-tabs>
<unl-pages item="{{selectedTab}}" flex>
	<!-- People -->
	<unl-panel class="well" fit>
		<div class="content-container">
			<label for="member-filter" hidden>Find Someone</label>
			<div horizontal layout gutters class="margin-bottom">
				<div flex horizontal layout>
					<input name="member-filter" ng-model="member_search.$" placeholder="Find someone..." flex start>
					<unl-button-group input end>
						<button type="button" ng-click="toggleSort()"><core-icon icon="swap-vert"></core-icon> {{ sortDirection?'Z-A':'A-Z' }}</button>
						<select name="userFieldSelect" ng-model="sortField">
							<option value="first_name">First Name</option>
							<option value="last_name">Last Name</option>
						</select>
					</unl-button-group>
				</div>
				<div>
					<unl-icon-button ng-click="showAddModal()" icon="social:group-add"></unl-icon-button>
					<unl-icon-button ng-csv="members" filename="export_members.csv" icon="archive"></unl-icon-button>
				</div>
			</div>
			<unl-empty-content ng-hide="members.length > 0" text="No people yet"></unl-empty-content>
			<unl-list-group ng-show="members.length > 0">
				<unl-list-item-header>{{members.length}} Current {{members.length == 1 ? 'Person' : 'People'}}</unl-list-item-header>
				<unl-list-item-label user user-model="member" class="animate-fade-left" image="{{ member.profile_image }}" heading="{{ member.first_name ? member.first_name +' '+ member.last_name : member }}" label="{{member.uni_year | uni_year}} - {{member.uni_major}}" ng-repeat="(key, member) in members | orderBy:sortField:sortDirection | filter:member_search">
					<div class="tools show-on-hover">
						<unl-icon-button ng-hide="member.id === currentUser.id" icon="delete" ng-click="showRemoveModal(member)"></unl-icon-button>
					</div>
				</unl-list-item-label>
			</unl-list-group>
		</div>
	</unl-panel>
	<!-- End People -->
	<!-- Apps -->
	<unl-panel class="well" fit>
		<div class="content-container">
			<unl-empty-content ng-hide="apps.length > 0" text="No apps yet"></unl-empty-content>
			<unl-list-group ng-show="apps.length > 0">
				<unl-list-item-header>Apps</unl-list-item-header>
				<unl-list-item-label heading="{{app.title}}" label="{{app.description}}" image="{{app.icon_url}}" ng-repeat="app in apps | orderBy:'title'">
					<div class="tools">
						<a ng-href="{{app.url}}" title="Open App" target="_blank"><unl-icon-button icon="launch"></unl-icon-button></a>
					</div>
				</unl-list-item-label>
			</unl-list-group>
		</div>
	</unl-panel>
	<!-- End Apps -->
</unl-pages>
<!-- Modals -->
<div id="modal-members-add" hidden ng-include src="'views/partials/modal-members-add.html'"></div>
<div id="modal-member-remove" hidden ng-include src="'views/partials/modal-member-delete.html'"></div>