<unl-toolbar tabs>
	<a ng-click="go('/', 'animate-slide-left')" title="Back to Groups"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
	<span flex class="align-center">{{group.title || 'Loading'}}</span>
	<a ng-click="go('/group/{{currentGroupId}}/settings')" title="Settings"><unl-icon-button icon="settings"></unl-icon-button></a>
</unl-toolbar>
<unl-tabs bind-polymer item="{{selectedTab}}">
	<unl-tab>People</unl-tab>
	<unl-tab>Apps</unl-tab>
</unl-tabs>
<unl-pages item="{{selectedTab}}" flex>
	<!-- People -->
	<unl-panel class="well" fit>
		<div class="content-container">
			<div horizontal layout gutters class="margin-bottom">
				<div flex>
					<label for="member-filter" hidden>Find Someone</label>
					<input name="member-filter" ng-model="member_search.$" placeholder="Find someone">
				</div>
				<div>
					<unl-tooltip position="bottom" label="Change sort order"><unl-icon-button ng-click="toggleSort()" icon="swap-vert">{{ sortDirection?'Z-A':'A-Z' }}</unl-icon-button></unl-tooltip>
					<unl-tooltip position="bottom" label="Change sort field">
						<select name="userFieldSelect" ng-model="sortField">
							<option value="first_name">First Name</option>
							<option value="last_name">Last Name</option>
							<option value="uni_major">Major</option>
							<option value="uni_year">Year</option>
							<option value="pivot.role_id">Role</option>
						</select>
					</unl-tooltip>
					<unl-tooltip position="bottom" label="Add people"><unl-icon-button ng-click="showAddModal()" icon="social:group-add"></unl-icon-button></unl-tooltip>
					<unl-tooltip position="bottom" label="Export people"><unl-icon-button ng-csv="getExportArray()" filename="export_members.csv" csv-header="csvHeaders" icon="archive"></unl-icon-button></unl-tooltip>
				</div>
			</div>
			<unl-empty-content ng-hide="members.length > 0" text="No people yet"></unl-empty-content>
			<unl-list-group ng-show="members.length > 0">
				<unl-list-item-header>{{members.length}} Current {{members.length == 1 ? 'Person' : 'People'}}</unl-list-item-header>
				<unl-list-item-details user user-model="member" class="animate-fade-left" image="{{ member.profile_image }}" heading="{{ member.first_name ? member.first_name +' '+ member.last_name : member }}" details="{{member.uni_year | uni_year}} in {{member.uni_major || member.uni_dept}} | {{ member.pivot.role_id | platform_role }}" ng-repeat="(key, member) in members | orderBy:sortField:sortDirection | filter:member_search">
					<div class="tools show-on-hover">
						<unl-tooltip position="bottom" label="Change role">
							<select name="userPermissionSelect-{{member.uni_auth}}" ng-model="member.pivot.role_id" ng-change="updateUser(member)">
								<option value="41">Admin</option>
								<option value="0">Member</option>
								<option value="51">Staff</option>
							</select>
						</unl-tooltip>
						<unl-tooltip position="left" label="Remove from group">
							<unl-icon-button ng-hide="member.id === currentUser.id" icon="delete" ng-click="showRemoveModal(member)"></unl-icon-button>
						</unl-tooltip>
					</div>
				</unl-list-item-details>
			</unl-list-group>
		</div>
	</unl-panel>
	<!-- End People -->
	<!-- Apps -->
	<unl-panel class="well" fit>
		<div class="content-container">
			<div horizontal layout gutters class="margin-bottom">
				<div flex>
					<label for="app-filter" hidden>Filter your apps</label>
					<input name="app-filter" ng-model="app_search.$" placeholder="Filter your apps">
				</div>
			</div>
			<unl-empty-content ng-hide="apps.length > 0" text="No apps yet"></unl-empty-content>
			<unl-list-group ng-show="apps.length > 0">
				<unl-list-item-header>Apps</unl-list-item-header>
				<unl-list-item-details class="animate-fade-left" heading="{{app.title}}" details="{{app.description}}" image="{{app.icon_url}}" ng-repeat="app in apps | orderBy:'title' | filter:app_search" link>
					<a ng-href="{{app.url}}" title="Open App" target="_blank"></a>
					<div class="tools">
						<unl-toggle-button value="{{ ((group_apps | filter:{id:app.id}).length > 0) ? 1 : 0 }}" ng-click="toggleGroupApp(app)"></unl-toggle-button>
					</div>
				</unl-list-item-details>
			</unl-list-group>
		</div>
	</unl-panel>
	<!-- End Apps -->
</unl-pages>
<!-- Modals -->
<div id="modal-members-add" hidden ng-include src="'views/partials/modal-members-add.html'"></div>
<div id="modal-member-remove" hidden ng-include src="'views/partials/modal-member-delete.html'"></div>