<unl-toolbar>
    <a ng-click="go('/', 'animate-slide-left')" title="Back to My Groups"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
    <span flex class="align-center">{{ group.title || 'New Group'}}</span>
</unl-toolbar>
<div class="content-container">
	<form name="newGroupForm" ng-submit="createGroup()">
		<unl-list-group>
			<unl-list-item-header>General</unl-list-item-header>
			<unl-list-item-label heading="Title">
				<div class="tools">
					<label for="group-title" hidden></label>
					<input type="text" name="group-title" ng-model="group.title" placeholder="" required>
				</div>
			</unl-list-item-label>
			<unl-list-item-label heading="Description">
				<div class="tools">
					<label for="group-description" hidden></label>
					<input type="text" name="group-description" ng-model="group.description" placeholder="" required>
				</div>
			</unl-list-item-label>
		</unl-list-group>
		<button type="submit">Create Group</button>
	</form>
</div>